<div class="container-fluid bg-main py-5 border-bottom border-secondary r" [attr.dir]="language === 'ar' ? 'rtl' : 'ltr'">

    <div class="container py-3 mt-5 ">
        <h2 class=" text-center position-relative fw-bold mb-3  ">{{ 'NAVBAR.ABOUT_US' | translate }}</h2>

        <div  class="container mx-auto mt-5 W-75">
        
            <div class="row  ">
                <div class="col-md-6 col-12 d-flex align-items-stretch mb-3">
                    <div class="image-container">
                        <img src="./assets/Images/aboutUs.svg" class="w-75"/>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                <div class="d-flex flex-column  ">

                       <P class=" mb-3 lead text-title ">{{'GHAYA_HOME_ABOUTUS.SUMMARY'| translate}}</P>
                    <div class="mt-5">
                        <a routerLink="/AboutUs/AboutGhaya" class="btn btn-primary ">{{'NAVBAR.ABOUT_US'|translate}}
                        </a>
                    </div>  

                </div>
             
                           
                </div>
            </div>
                
                
               
            
    </div>
    </div>
</div>